{# templates/task/new.html.twig #}
{%extends 'base.html.twig' %}
{% block body %}
{{form_start(form)}}
<div class = "container">
    <div>
        <label>Wejście</label>{{form_widget(form.task)}}   
    </div>
    <div>
        <label>Maksymalna wartość<br></label><p>{{output}}</p>
    </div>
    <div>
        {{form_row(form.save)}}
    </div>
</div>
{{form_end(form, {'render_rest': false})}}
{% endblock %}